<div class="row" *ngFor="row in width">
    trololo
  </div>

<!-- 
<h2> DEBUG </h2>
<ul>
    <li *ngFor="let point of game.screen">
        {{point.x}}, {{point.y}} = {{hex(point)}}
    </li>
</ul> -->